<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <form action="/update/<%= students.id%>" method="post">
    <input type="text"name="name" values="<%= students.name%>"><br> <br>
    <input type="email"name="email" values="<%= students.email%>"><br> <br>
    <input type="password"name="password" values="<%= students.password%>"><br> <br>
    <button type="submit">update</button>
   </form>
    
</body>
</html>